In [ ]:
# Limit the number of rows returned
SELECT 
  TOP (50) points 
FROM 
  eurovision;
    
#  Return unique countries and use an alias
SELECT 
 DISTINCT(country) AS unique_country 
FROM 
  eurovision;

In [ ]:
# Amend the code to select all rows and columns
SELECT 
  country, 
  event_year 
FROM 
  eurovision;
    
# Return all columns, restricting the percent of rows returned
SELECT 
  TOP (50) PERCENT * 
FROM 
  eurovision

# Ordering and filtering

In [ ]:
# Select the first 5 rows from the specified columns
SELECT 
  TOP (5) description, 
  event_date 
FROM 
  grid 
  # Order your results by the event_date column
ORDER BY 
  event_date;
    
# Select the top 20 rows from description, nerc_region and event_date
SELECT 
  TOP (20) description,
  nerc_region,
  event_date
FROM 
  grid 
  # Order by nerc_region, affected_customers & event_date
  # Event_date should be in descending order
ORDER BY
  nerc_region,
  affected_customers,
  event_date DESC;

In [ ]:
# Select description and event_year
SELECT 
  description, 
  event_year 
FROM 
  grid 
  # Filter the results
WHERE 
  description = 'Vandalism';

In [ ]:
# Select description, affected_customers and event date
SELECT 
  description, 
  affected_customers,
  event_date
FROM 
  grid 
  # The affected_customers column should be >= 50000 and <=150000   
WHERE 
  affected_customers BETWEEN 50000
  AND 150000 
   # Define the order   
order by 
  event_date DESC;

In [ ]:
# Retrieve all columns
SELECT 
  * 
FROM 
  grid 
  # Return rows where demand_loss_mw is not missing or unknown   
WHERE 
  demand_loss_mw IS NULL;
    
# Retrieve all columns
SELECT 
  * 
FROM 
  grid 
  # Return rows where demand_loss_mw is not missing or unknown   
WHERE 
  demand_loss_mw IS NOT NULL;

# Where the wild things are

In [ ]:
# Retrieve the song,artist and release_year columns
SELECT 
  song, 
  artist, 
  release_year 
FROM 
  songlist 
  # Ensure there are no missing or unknown values in the release_year column
WHERE 
  release_year IS NOT NULL 
  # Arrange the results by the artist and release_year columns
ORDER BY 
  artist, 
  release_year;

In [ ]:
SELECT 
  song, 
  artist, 
  release_year
FROM 
  songlist 
WHERE 
  # Retrieve records greater than and including 1980
  release_year >= 1980 
  #  AND 
  AND release_year <= 1990 
ORDER BY 
  artist, 
  release_year;

In [ ]:
SELECT 
  artist, 
  release_year, 
  song 
FROM 
  songlist 
  # Choose the correct artist and specify the release year
WHERE 
  (
    artist LIKE 'B%' 
    AND release_year = 1986
  ) 
  # Or return all songs released after 1990
  OR release_year > 1990 
  # Order the results
ORDER BY 
  release_year, 
  artist, 
  song;

In [ ]:
SELECT
song
FROM
songlist
WHERE artist='yes' AND release_year='1999'
OR
WHERE artist='yes' AND release_year>'2000'

# Aggregating Data

In [ ]:
# Sum the demand_loss_mw column
SELECT 
  SUM(demand_loss_mw) AS MRO_demand_loss 
FROM 
  grid 
WHERE
  # demand_loss_mw should not contain NULL values
  demand_loss_mw IS NOT NULL 
  # and nerc_region should be 'MRO';
  AND nerc_region = 'MRO';

In [ ]:
# Obtain a count of 'grid_id'
SELECT 
  COUNT(grid_id) AS RFC_count
FROM 
  grid
# Restrict to rows where the nerc_region is 'RFC'
where
  nerc_region = 'RFC';

In [ ]:
-- Find the average number of affected customers
SELECT 
  AVG(affected_customers) AS avg_affected_customers 
FROM 
  grid
-- Only retrieve rows where demand_loss_mw has a value
WHERE 
  demand_loss_mw IS NOT NULL;

# Strings

In [ ]:
# Calculate the length of the description column
SELECT 
  LEN (description) AS description_length 
FROM 
  grid;

In [ ]:
SELECT
LEFT(column_name, 25) AS new_column_name
FROM
table_name

# Amend the query to select 25 characters from the  right of the description column
SELECT 
  RIGHT(description, 25) AS last_25_right 
FROM 
  grid;

In [ ]:
# Complete the query to find `Weather` within the description column
SELECT 
  description, 
  CHARINDEX('Weather', description) 
FROM 
  grid
WHERE description LIKE '%Weather%';

# CHARINDEX finds where it starts

# Complete the substring function to begin extracting from the correct character in the description column
SELECT TOP (10)
  description, 
  CHARINDEX('Weather', description) AS start_of_string, 
  LEN ('Weather') AS length_of_string, 
  SUBSTRING(
    description, 
    15, 
    LEN(description)
  ) AS additional_description 
FROM 
  grid
WHERE description LIKE '%Weather%';

# Grouping and Having

In [ ]:
#  Select the region column
SELECT 
  nerc_region,
  # Sum the demand_loss_mw column
  SUM(demand_loss_mw) AS demand_loss
FROM 
  grid
  # Exclude NULL values of demand_loss
WHERE 
  demand_loss_mw is not NULL
  # Group the results by nerc_region
GROUP BY 
  nerc_region
  # Order the results in descending order of demand_loss
ORDER BY 
  demand_loss DESC;

In [ ]:
SELECT 
  nerc_region, 
  SUM (demand_loss_mw) AS demand_loss 
FROM 
  grid 
GROUP BY 
  nerc_region 
  # Enter a new HAVING clause so that the sum of demand_loss_mw is greater than 10000
HAVING 
  SUM(demand_loss_mw) > 10000 
ORDER BY 
  demand_loss DESC;

In [ ]:
SELECT 
  country, 
  COUNT (country) AS country_count, 
  AVG (place) AS avg_place, 
  AVG (points) AS avg_points, 
  MIN (points) AS min_points, 
  MAX (points) AS max_points 
FROM 
  eurovision 
GROUP BY 
  country 
  # The country column should only contain those with a count greater than 5
HAVING 
  COUNT(country) > 5 
  # Arrange columns in the correct order
ORDER BY 
  avg_place, 
  avg_points desc;

# Joining tables

In [ ]:
SELECT 
tableA.colX,
tableA.coly,
tableB.colz
FROM
tableA
INNER JOIN 
table_B ON tableA.foreignkey=table_B.primarykey

In [ ]:
SELECT 
  track_id,
  name AS track_name,
  title AS album_title
FROM track
  #b Complete the join type and the common joining column
INNER JOIN album on track.album_id = album.album_id;

In [ ]:
# Select album_id and title from album, and name from artist
SELECT 
  album.album_id,
  title,
  name AS artist
  # Enter the main source table name
FROM album
  # Perform the inner join
INNER JOIN artist on album.artist_id = artist.artist_id;

In [ ]:
SELECT track_id,
# Enter the correct table name prefix when retrieving the name column from the track table
  track.name AS track_name,
  title as album_title,
  # Enter the correct table name prefix when retrieving the name column from the artist table
  artist.name AS artist_name
FROM track
  # Complete the matching columns to join album with track, and artist with album
INNER JOIN album on track.album_id = album.album_id 
INNER JOIN artist on album.artist_id = artist.artist_id;

# Left & Right join

In [ ]:
# inner joins only return matching rows
# left/right all rows from main table plus left table
# A LEFT JOIN will return ALL rows in the first table, and any matching rows in the right table`

In [ ]:
SELECT 
  invoiceline_id,
  unit_price, 
  quantity,
  billing_state
  # Specify the source table
FROM invoiceline 
  # Complete the join to the invoice table
LEFT JOIN invoice
ON invoiceline.invoice_id = invoice.invoice_id;

In [ ]:
SELECT 
  album.album_id,
  title,
  album.artist_id,
  artist.name as artist
FROM album
INNER JOIN artist ON album.artist_id = artist.artist_id
# Perform the correct join type to return matches or NULLS from the track table
RIGHT JOIN track on album.album_id = track.album_id
WHERE album.album_id IN (213,214)

# UNION & UNION ALL

In [ ]:
# can combine querys with union, union all involves duplicates

In [ ]:
SELECT 
  album_id AS ID,
  title AS description,
  'Album' AS Source
  # Complete the FROM statement
FROM album
 # Combine the result set using the relevant keyword
UNION
SELECT 
  artist_id AS ID,
  name AS description,
  'Artist'  AS Source
  # Complete the FROM statement
FROM artist;

# Creator

In [ ]:
CREATE TABLE test_table(
    test_date date,
    test_name varchar(20),
    test_number int
)
# CRUD
- Create, Read, Update, Delete.

In [ ]:
# Create the table
CREATE TABLE results (
	# Create track column
	track VARCHAR(200),
    # Create artist column
	artist VARCHAR(120),
    # Create album column
	album VARCHAR(160),
	# Create track_length_mins
	track_length_mins INT,
	);

# Select all columns from the table
SELECT 
  track, 
  artist, 
  album, 
  track_length_mins 
FROM 
  results;

# Insert, Update, Delete

In [ ]:
INSERT INTO table_name (col1, col2, col3)
VALUES
    ('value1', 'value2', value3)
    
INSERT INTO table_name(col1, col2, col3)
SELECT 
    column1,
    column2,
    column3
FROM
other_table
WHERE

In [ ]:
UPDATE table
SET column= value,
WHERE

DELETE
FROM table
WHERE

In [ ]:
# Create the table
CREATE TABLE tracks(
  # Create track column
  track VARCHAR(200), 
  # Create album column
  album VARCHAR(160), 
  # Create track_length_mins column
  track_length_mins INT
);
# Complete the statement to enter the data to the table         
INSERT INTO tracks
# Specify the destination columns
(track, album, track_length_mins)
# Insert the appropriate values for track, album and track length
VALUES
  ('Basket Case', 'Dookie', 3);
# Select all columns from the new table
SELECT 
  *
FROM 
  tracks;

In [ ]:
# Select the album
SELECT 
  title 
FROM 
  album 
WHERE 
  album_id = 213;
# UPDATE the title of the album
UPDATE 
  album 
SET 
  title = 'Pure Cult: The Best Of The Cult' 
WHERE 
  album_id = 213;
# Run the query again
SELECT 
  title 
FROM 
  album
WHERE 
  album_id = 213;

In [ ]:
# Run the query
SELECT 
  * 
FROM 
  album 
  # DELETE the record
DELETE FROM 
  album 
WHERE 
  album_id = 1 
  # Run the query again
SELECT 
  * 
FROM 
  album;

# Declare yourself

In [ ]:
# temp table
SELECT,
    col1,
    col2,
    col3 INTO temp_table
FROM pervious_table
WHERE 

#variable
DECLARE @my_artist varchar(100)
DECLARE @my_album varchar(200);

SET @my_artist = 'AC/DC'
SET @my_album= 'Views'

In [ ]:
# Declare the variable @region
DECLARE @region VARCHAR(10)

# Update the variable value
SET @region = 'RFC'

SELECT description,
       nerc_region,
       demand_loss_mw,
       affected_customers
FROM grid
WHERE nerc_region = @region;

In [ ]:
# Declare your variables
DECLARE @start DATE
DECLARE @stop DATE
DECLARE @affected INT;
# SET the relevant values for each variable
SET @start = '2014-01-24'
SET @stop  = '2014-07-02'
SET @affected =  5000 ;

SELECT 
  description,
  nerc_region,
  demand_loss_mw,
  affected_customers
FROM 
  grid
# Specify the date range of the event_date and the value for @affected
WHERE event_date BETWEEN @start AND @stop
AND affected_customers >= @affected;

In [ ]:
SELECT  album.title AS album_title,
  artist.name as artist,
  MAX(track.milliseconds / (1000 * 60) % 60 ) AS max_track_length_mins
# Name the temp table #maxtracks
INTO maxtracks
FROM album
# Join album to artist using artist_id
INNER JOIN artist ON album.artist_id = artist.artist_id
# Join track to album using album_id
INNER JOIN track ON track.album_id = album.album_id
GROUP BY artist.artist_id, album.title, artist.name,album.album_id
# Run the final SELECT query to retrieve the results from the temporary table
SELECT album_title, artist, max_track_length_mins
FROM  maxtracks
ORDER BY max_track_length_mins DESC, artist;